.section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Se requiere el position para que el video y el canvas se superpongan correctamente*/
.container {
  position: relative;
  width: 560px;
  height: 420px;
}

/* El video debe ser estático dentro del contenedor */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* El canvas debe superponerse al video */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
}
